.image-uploader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.image-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
